html {
  font-size: calc(112.5% + 4 * (100vw - 600px) / 400)
}

body {
	background-color: white;
}

.blog_title{
  text-align: center;
  width: 80%;
  margin: 20px auto;
}

.post-list{
  width: 80%;
  margin: 20px auto;
  }

.detail_link{
   text-align: right;
}

h2 {
     position: relative;
     padding:0 0 0.5em 0.7em;
     border-bottom: 1px solid black;
}

h2::after {
     position: absolute;
     top: 0.2em;
     left:0;
     content: '';
     width: 5px;
     height:1em;
     background-color: #446689;
}
