{% load staticfiles %}
<html>
    <head>
        <title>Neo-Momopi blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="row no-gutters">
    <div class="col-3 d-none d-md-block"></div>
    <div class="col-12 col-md-6">
      <div class="jumbotron">
        <h1 class="mb-2"><b>Neo-Momopi Blog</b></h1>
        <p>いろいろな開発に挑戦してみるブログです</p>
      </div>
          {% block content %}
          {% endblock %}
    </div>
    <div class="col-3 d-none d-md-block"></div>
</body>
</html>
