{% load staticfiles %}
<html>
    <head>
        <title>Neo-Momopi blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
    <!--      <header style="background-color:gray"><center>Neo-Momopi Blog</header>
<div class="container-fluid">

    <div class="col-md-3 hidden-sm"><center> カラム左 </div>
    <div class="col-md-6 col-sm-12"><center> カラム中 </div>
    <div class="col-md-3 hidden-sm"><center> カラム右 </div>
  </div>
</div>
<footer style="background-color:gray">Footer</footer>-->
<div class="container">
<div class="row">
    <div class="col-sm-2 hidden-xs">　</div>
    <div class="col-sm-8 col-xs-12">
      <h1 class="blog_title">Neo-Momopi Blog</h1>
        <div class="post-list">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="col-sm-2 hidden-xs">　</div>
    </div>
</div>
</body>
</html>
