{% extends 'blog/base.html' %}

{% block content %}
<div class="card">
<h5 class="card-header">{{ post.title }}</h5>

<div class="card-body>">

  {% if post.text_type == 'HTML' %}
    <p class="card-text">{{ post.text|safe }}</p>
  {% elif post.text_type == 'Markdown' %}
    {% load markdown_filter %}
    <p class="card-text">{{ post.text|markdown_filter|safe }}</p>
  {% else %}
    <p class="card-text">{{ post.text|linebreaksbr }}</p>
  {% endif %}
  <div align="right"><a href="{% url 'post_list' %}" class="btn btn-primary">トップページに戻る</a></div>
</div>
    <div align="right"><h6 class="card-footer">{{ post.published_date }}</h6></div>
  </div>
  <p>
{% endblock %}
