{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
          <h5>{{ post.published_date }}</h5>
        {% endif %}
        <h1>{{ post.title }}</h1>

        {% ifequal post.text_type 'HTML' %}
          <p>{{ post.text|safe }}</p>
        {% else %}
          <p>{{ post.text|linebreaksbr }}</p>
        {% endifequal %}

    </div>
    <div style="text-align: center; margin-top: 50px">
      <a href="{% url 'post_list' %}">トップページに戻る</a>
    </div>
{% endblock %}
