{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <div>
      <h6>{{ post.published_date }}</h6>
      <h2>{{ post.title }}</h2>
      {% if post.text_type == 'HTML' %}
        <p>{{ post.text|safe }}</p>
      {% elif post.text_type == 'Markdown' %}
        {% load markdown_filter %}
        <p>{{ post.text|markdown_filter|safe }}</p>
      {% else %}
        <p>{{ post.text|linebreaksbr }}</p>
      {% endif %}
      <div class="detail_link">
      <a href="{% url 'post_detail' pk=post.pk %}">記事を読む</a>
      </div>
      <hr />
  </div>
  {% endfor %}
{% endblock content %}
